.App {
  text-align: center;
}

.App-logo {
  height: 80px;
}

.App-header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: #767676;
  height: 80px;
  padding: 20px;
}
.App-header img {
  margin-right: 40px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.catalog {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 90%;
}

.icon-info-wrapper {
  height: 100px;
  display: flex;
  flex-direction: column;
  margin-right: 40px;
  margin-bottom: 40px;
  border-radius: 20px;
}

.filter {
  display: flex;
  justify-content: center;
  height: 30px;
  margin-bottom: 40px;
}

.filter input {
  font-size: 16px;
  border-radius: 3px;
  padding: 5px;
  border: 1px solid #767676;
}

.filter svg {
  margin-right: 20px;
}
