.App {
  text-align: center;
}

.App-logo {
  height: 80px;
}

.App-header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: #767676;
  height: 80px;
  padding: 20px;
}

.App-header img {
  margin-right: 40px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.catalog {
  display: flex;
  flex-wrap: wrap;
}

.icon-info-wrapper {
  align-items: center;
  display: flex;
  flex-flow: row;
  margin: 12px;
  text-align: center;
  text-align: left;
  justify-content: left;
  width: 160px;
}

.icon-info-wrapper svg {
  fill: #4a4a4a;
  display: inline-block;
}

.icon-name {
  font-size: 11px;
  color: #717171;
  display: inline-block;
  padding: 9px;
}

.filter {
  display: flex;
  justify-content: center;
  height: 30px;
  margin-bottom: 40px;
}

.filter input {
  font-size: 16px;
  border-radius: 3px;
  padding: 5px;
  border: 1px solid #767676;
}

.filter svg {
  margin-right: 20px;
}

.disclaimer {
  margin-bottom: 30px;
}

.disclaimer img {
  vertical-align: middle;
  margin-right: 20px;
}

@media only screen and (max-width: 768px) {
  .App-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #767676;
    height: 80px;
    padding: 20px;
  }
  .App-header img {
    margin-right: 0;
  }

  .filter {
    margin-top: 10px;
  }

  .catalog {
    justify-content: center;
  }
}

@media only screen and (min-width: 769px) {
  .catalog {
    margin: 0 auto;
    width: 95%;
  }
}
